{
  // "extends": "@antfu",
  // "vue/html-self-closing": [
  //   "error",
  //   {
  //     "html": {
  //       "void": "always",
  //       "normal": "never",
  //       "component": "never"
  //     },
  //     "svg": "always",
  //     "math": "always"
  //   }
  // ]
}